// Instagram gradient
$ig-purple: #833AB4;
$ig-pink: #C13584;
$ig-red-ig: #E1306C;
$ig-orange: #F77737;

// Colors
$clr-red: #FF453A;
$clr-green: #30D158;
$clr-cyan: #64D2FF;
$clr-white: #F5F5F7;
$clr-black: #0d0d0d;
$clr-gray: #1c1c1e;
$clr-border: rgba(255, 255, 255, 0.09);

// Background Colors
$bg-primary: $clr-black;
$bg-secondary: $clr-gray;

// Accent
$accent-blue: #0A84FF;

// Sizes
$size-small: 0.5rem;
$size-medium: 1rem;
$size-large: 1.5rem;
$size-xlarge: 2rem;

// Borders
$border-radius: 10px;
$border-color: $clr-border;
